html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding-top: 32px;
    margin: 0 auto;
    width: 600px;
}

.csrf {
    padding: 8px;
    margin: 0 auto;
    width: 600px;
    background: lightcyan;
    border-radius: 0 0 10px 10px;
}

dd {
    margin: 0;
}

.username {
    margin-right: 16px;
}

button,input[type=submit] {
    font-size: 1.5em;
    margin: 16px 0;
}

input[type=text],input[type=password] {
    font-size: 1.5em;
    margin: 16px 0;
}

.logout-button {
    margin: 0 8px;
}

.errors {
    color: red;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: lightcyan;
}

.banner-contents {
    padding: 0 16px;
    margin: auto;
    width: 600px;
}

.document-link {
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 1.5em;
    padding: 16px;
    margin: 0 4px 4px 0;
}

textarea {
    width: 100%;
    height: 240px;
    resize: vertical;
    overflow: auto;
}

textarea.view {
    font-family: inherit;
}

.settings {
    width: 600px;
    margin: 32px auto;
}

.red {
    background-color: red;
}

.container {
    display: flex;
}

.container.vertical {
    flex-direction: column;
}

.container.align-center {
    align-items: center;
}

.container .justify-end {
    align-self: flex-end;
}

.container .wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.fill {
    height: 100%;
    width: 100%;
}

ul.nostyle {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a.nostyle {
    text-decoration: none;
    color: black;
}